
.MBtn{
	border-radius: 50% !important ;
	background-color: rgb(34, 240, 103) !important;
  }


.card_cat {
	width: 500%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
h1{
	font-family: cursive;
	color: rgb(146, 141, 118);
	text-align: center;
	/* background-color: rgb(7, 7, 7); */
  }
   p{
	 font-family:monospace;
	 color:rgb(3, 3, 3);
   }
.search{
	text-align: center;
}
.main_card {
	color: #fff;
	width: 760px;
	height: 390px;
	margin: 50px auto;
	
	display: flex;
	max-width: 770px;
	background: #494a4b; 
	 

}

.card_left {
	width: 90%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	height: 390px;
	border-radius: 2px;
}
.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
body{
	text-align:justify;
  margin-left: 5000px;
  margin-right: 1000px;
  /* padding-top: 100px; */
  background-image: url(https://image.freepik.com/free-photo/popcorn-paper-cup-black-background_188556-1512.jpg);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* display:flex; */
}

.trailer{
  box-shadow: 4px 4px 5px black;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
  border-radius: 6%;
  background-color: white;
  padding: 5px;
} 

  img {
	height:300px;
	width: 285px;
  }
  
 
   